/* @charset "UTC-8"; */
/* *{
    margin: 0px;
    padding: 0px;
} */
/* #formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
} */
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 50px;
}

.input{
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-wrap: wrap;
    margin-right: 15px;
}
.linha{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#linha-cpf{
    width: 50vw;
}

#teclado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin: auto;
}
#teclado01{
    text-align: center;
    padding-right: 5px;
    flex-direction: column;
}
.esconder_teclado{
    display: none;
}
.mostrar_teclado{
    display: flex;
    text-align: center;
    justify-content: center;
}
.mostrar_teclado > .teclas{
    margin-left: 4px;
}
/* #teclado02{
    width: 30vw;
} */

.teclado_num.ativa,
.teclado_num:active{
    color: red;
}
.teclado{
    color: red;
}